.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    
    background-color: #ffffff; /* Background color of the container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 20px 20px;
    box-sizing: border-box; 
    margin-top: 120px;

}
.post div {
    margin: 0; /* Remove margin */
  }

.element{
    margin: 10px;
    padding: 20px;
    background-color: lightblue;
    color: black;
    width: 100%; /* Make elements full width of container */
    text-align: center;
}

.top-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.top-bar h3{
    margin-top: 30px;
    font-size: 24px;
}

.top-bar p{
    margin-left: auto;
    margin-top: 35px;
     
}

.post-img{
    width: 200px;
    height: 250px;
}

.chefHat{
    width: 100px;
    border-radius: 50%;
}

.bottom-box{
    display: flex;
    flex-direction: column;
}

.bottom-box p:first-of-type{
    text-align: left;
}